.k-disabled, .k-state-disabled{
    opacity: 0.8 !important;
}
.k-multiselect-wrap{
    border: none !important;
}
.k-grid {
    border-width: 1px !important;
    border-color: gray !important;
    opacity: 0.8 !important;
    color:black !important;
}
.k-header {
    border-color: gray !important;
    background-color: #dddddd !important;
    color: black !important;
}
.k-grid-header-wrap {
    border-bottom-width: 1px !important;
    border-top-width: 1px !important;
    border-color: gray !important;
    font-weight: 600;
}
.k-button {
    border-width: 1px !important;
    border-color: gray !important;
    color: black !important;
	font-weight: 600 !important;
}
.k-primary {
	background-color: #e6e6e6 !important;
}
.k-pager-wrap {
    color: black !important;
}
.k-picker-wrap{
    border: none;
    border-radius: 0px;
}
.k-datepicker{
}
.k-dropdown {
    border-width: 1px !important;
    border-color: black !important;
}
.k-tabstrip{
    border: solid;
    border-width: 1px;
    border-color: lightgray;
}
.k-multiselect-wrap .k-button{
    padding: 3px 3px !important;
}
.k-spreadsheet {
	border-color: lightgray;
	border-width: 1px;
}
.k-spreadsheet-view {
	border-color: lightgray;
}
.k-grid td {
	white-space: nowrap;
	text-overflow: ellipsis;
}